<mat-card class="card card--form">
  <mat-card-header class="card__header">
    <mat-card-title>{{ 'register.header-manager' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="registerForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="name" placeholder="{{ 'actor.name' | translate }}" [(ngModel)]="name" name="name">
            
              <div *ngIf="registerForm.get('name').errors && (registerForm.get('name').dirty || registerForm.get('name').touched)">
                <mat-error class="error-message" *ngIf="registerForm.get('name').errors.required">
                  {{ 'errorMessages.validation.required' | translate }}
                </mat-error>
                <mat-error class="error-message" *ngIf="registerForm.get('name').errors.pattern">
                  {{ 'errorMessages.validation.pattern-string' | translate }}
                </mat-error>
              </div>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="surname" placeholder="{{ 'actor.surname' | translate }}" [(ngModel)]="surname" name="surname">
            
              <div *ngIf="registerForm.get('surname').errors && (registerForm.get('surname').dirty || registerForm.get('surname').touched)">
                <mat-error class="error-message" *ngIf="registerForm.get('surname').errors.required">
                    {{ 'errorMessages.validation.required' | translate }}
                </mat-error>
                <mat-error class="error-message" *ngIf="registerForm.get('surname').errors.pattern">
                  {{ 'errorMessages.validation.pattern-string' | translate }}
                </mat-error>
              </div>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="email" type="email" placeholder="{{ 'actor.email' | translate }}" [(ngModel)]="email" name="email" required>
            
              <div *ngIf="registerForm.get('email').errors && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                  <mat-error class="error-message" *ngIf="registerForm.get('email').errors.required">
                      {{ 'errorMessages.validation.required' | translate }}
                    </mat-error>
                <mat-error class="error-message" *ngIf="registerForm.get('email').errors.pattern">
                  {{ 'errorMessages.validation.pattern' | translate }}
                </mat-error>
              </div>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="password" type="password" placeholder="{{ 'actor.password' | translate }}" [(ngModel)]="password"type="password" name="password" required>
            
              <div *ngIf="registerForm.get('password').errors && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                  <mat-error class="error-message" *ngIf="registerForm.get('password').errors.required">
                    {{ 'errorMessages.validation.required' | translate }}
                  </mat-error>
              </div>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="phone" placeholder="{{ 'actor.phone' | translate }}" [(ngModel)]="phone" name="phone">
            
              <div *ngIf="registerForm.get('phone').errors && (registerForm.get('phone').dirty || registerForm.get('phone').touched)">
                <mat-error class="error-message" *ngIf="registerForm.get('phone').errors.pattern">
                  {{ 'errorMessages.validation.pattern-number' | translate }}
                </mat-error>
                <mat-error class="error-message" *ngIf="registerForm.get('phone').errors.minlength || registerForm.get('phone').errors.maxlength">
                  {{ 'errorMessages.validation.phone-minmax' | translate }}
                </mat-error>
              </div>
            </mat-form-field>
          </td>
        </tr>

        <tr *ngIf="showMessageCreated" class="form-group center message">
          <p class="card__text--ok paragraph">{{ 'messages.manager-created' | translate }}</p>
        </tr>
        <div *ngIf="showMessageError" class="form-group center message-error">
          <p *ngIf="codeError==500">{{ 'errorMessages.api.500' | translate }}</p>
          <p *ngIf="codeError==422">{{ 'errorMessages.api.422-emailExist' | translate }}</p>
        </div>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [disabled]="registerForm.invalid || !registerForm.dirty" (click)="onRegister()" color="primary">{{ 'shared.register' | translate}}</button>
  </mat-card-actions>
</mat-card>