<mat-card class="card card--form ">
  <mat-card-header class="card__header--text">
    <mat-card-title>{{ 'login.header' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form class="example-form" [formGroup]="loginForm">
        <table class="card__table" cellspacing="0">

            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input id="email" matInput placeholder="{{ 'actor.email' | translate }}" [(ngModel)]="email" name="email"
                  type="email" formControlName="email" required>

                  <div *ngIf="loginForm.get('email').errors && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                    <mat-error class="error-message" *ngIf="loginForm.get('email').errors.required">
                      {{ 'errorMessages.validation.required' | translate }}
                    </mat-error>
                    <mat-error class="error-message" *ngIf="loginForm.get('email').errors.pattern">
                      {{ 'errorMessages.validation.pattern' | translate }}
                    </mat-error>
                  </div>
                </mat-form-field>
              </td>
            </tr>

            <tr>
                <td>
                  <mat-form-field class="example-full-width">
                    <input id="pwd" matInput placeholder="{{ 'actor.password' | translate }}" [(ngModel)]="password" name="password"
                    type="password" formControlName="password" required>
  
                    <div *ngIf="loginForm.get('password').errors && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                      <mat-error class="error-message" *ngIf="loginForm.get('password').errors.required">
                        {{ 'errorMessages.validation.required' | translate }}
                      </mat-error>
                    </div>
                  </mat-form-field>
                  </td>
            </tr>

            <div *ngIf="showMessageError" class="form-group center message-error">
              <p *ngIf="codeError==500">{{ 'errorMessages.api.500' | translate }}</p>
              <p *ngIf="codeError==401">{{ 'errorMessages.api.401' | translate }}</p>
            </div>

        </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button id="btnLogin" mat-raised-button [disabled]="loginForm.invalid || !loginForm.dirty" (click)="onLogin()" color="primary">{{ 'shared.login' | translate}}</button>
  </mat-card-actions>
</mat-card>
