<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let actor of actors; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ actor.name }}</td>
      <td>{{ actor.surname }}</td>
      <td>{{ actor.email }}</td>
      <td>{{ actor.address }}</td>
      <td>{{ actor.phone }}</td>
      <td>{{ actor.role }}</td>
    </tr>
    </tbody>
  </table>