<!-- <div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="trips" class="width-table mat-elevation-z8">
      
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'trips.title' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'trips.description' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="date_start">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'trips.date_start' | translate }} </th>
      <td mat-cell *matCellDef="let element">{{element.date_start | date: 'yyyy-MM-dd'}}</td>
    </ng-container>

    <ng-container matColumnDef="date_end">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'trips.date_end' | translate }} </th>
      <td mat-cell *matCellDef="let element">{{element.date_end | date: 'yyyy-MM-dd'}}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'trips.price' | translate }} </th>
      <td mat-cell *matCellDef="let element">{{element.price}} $</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>
</div> -->

<div class="card-deck card-customer_container">
    <div class="card card-customer" *ngFor="let trip of trips">
      <img class="card-img-top" src="../assets/img/avion.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ trip.title }}</h5>
        <p class="card-text">{{ trip.description }}</p>
        <p class="card-text"><small class="text-muted">{{trip.date_start | date: 'yyyy-MM-dd'}}</small></p>
        <button class="btn btn-primary">Details</button>
      </div>
    </div>
    <!-- <div class="card card-customer">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card card-customer">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card card-customer">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card card-customer">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div> -->
  </div>