<div class="card-deck card-customer_container">
    <div class="card card-customer" *ngFor="let orderedTrip of orderedTripsTratadas">
      <img class="card-img-top" src="../assets/img/avion.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ orderedTrip.ticker }}</h5>
        <p class="card-text">{{ orderedTrip.actor_id }}</p>
        <p class="card-text">{{ orderedTrip.status }}</p>
        <p class="card-text"><small class="text-muted">{{orderedTrip.date_apply | date: 'yyyy-MM-dd'}}</small></p>
        <p class="card-text">{{ orderedTrip.comments }}</p>

      </div>
    </div>
