<div class="container">

  <a *ngIf="trip" [routerLink]="['../../details/' + trip._id]" class="btn-back">&larr; {{'shared.back' | translate}}</a>
  <form [formGroup]="tripGroup" #f="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-6">{{ 'trips.title' | translate }}
        <input type="text" formControlName="title" class="form-control" placeholder="{{'trips.title' | translate}}" required>
        <div *ngIf="tripGroup.get('title').errors && (tripGroup.get('title').dirty || tripGroup.get('title').touched)" class="alert alert-danger">
          <div *ngIf="tripGroup.get('title').errors.required">
            {{ 'errorMessages.validation.required' | translate }}
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6">{{ 'trips.date_start' | translate }}
        <input type="date" formControlName="date_start" class="form-control" placeholder="{{'trips.date_start' | translate}}">
        <div *ngIf="tripGroup.get('date_start').errors && (tripGroup.get('date_start').dirty || tripGroup.get('date_start').touched)" class="alert alert-danger">
          <div *ngIf="tripGroup.get('date_start').errors.required">
            {{ 'errorMessages.validation.required' | translate }}
          </div>
          <div *ngIf="tripGroup.get('date_start').errors.dateLess">
            {{ 'errorMessages.validation.dateLess' | translate }}
          </div>
        </div>
      </label>
      <label class="control-label col-sm-6">{{ 'trips.date_end' | translate }}
        <input type="date" formControlName="date_end" class="form-control" placeholder="{{'trips.date_end' | translate}}">
        <div *ngIf="tripGroup.get('date_end').errors && (tripGroup.get('date_end').dirty || tripGroup.get('date_end').touched)" class="alert alert-danger">
          <div *ngIf="tripGroup.get('date_end').errors.required">
            {{ 'errorMessages.validation.required' | translate }}
          </div>
          <div *ngIf="tripGroup.get('date_end').errors.dateLess">
            {{ 'errorMessages.validation.dateLess' | translate }}
          </div>
        </div>
        <div *ngIf="tripGroup.errors?.dateEndLessStart" class="alert alert-danger">
          {{ 'errorMessages.validation.dateEndLessStart' | translate }}
        </div>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label col">{{ 'trips.description' | translate }}
        <input type="text" formControlName="description" class="form-control" placeholder="{{ 'trips.description' | translate }}">
        <div *ngIf="tripGroup.get('description').errors && (tripGroup.get('description').dirty || tripGroup.get('description').touched)" class="alert alert-danger">
          <div *ngIf="tripGroup.get('description').errors.required">
            {{ 'errorMessages.validation.required' | translate }}
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
        <label class="control-label col">{{ 'trips.stages' | translate }}
          <div formArrayName="stages" *ngFor="let stageControl of tripGroup.get('stages')['controls']; let i = index;">
            <div [formGroupName]="i" class="stages">
              <label class="control-label">{{ 'trips.title' | translate }}
                <input type="text" formControlName="title" class="form-control" placeholder="{{ 'trips.title' | translate }}">
                <div *ngIf="stageControl.get('title').errors && (stageControl.get('title').dirty || stageControl.get('title').touched)" class="alert alert-danger">
                  <div *ngIf="stageControl.get('title').errors.required">
                    {{ 'errorMessages.validation.required' | translate }}
                  </div>
                </div>
              </label>
              <label class="control-label">{{ 'trips.description' | translate }}
                <input type="text" formControlName="description" class="form-control" placeholder="{{ 'trips.description' | translate }}">
              </label>
              <label class="control-label">{{ 'trips.price' | translate }}
                <input type="number" formControlName="price" class="form-control" placeholder="{{ 'trips.price' | translate }}">
                <div *ngIf="stageControl.get('price').errors && (stageControl.get('price').dirty || stageControl.get('price').touched)" class="alert alert-danger">
                  <div *ngIf="stageControl.get('price').errors.required">
                    {{ 'errorMessages.validation.required' | translate }}
                  </div>
                </div>
              </label>
              <a (click)="deleteStage(i)" class="btn-delete"><i class="fas fa-trash"></i></a>
            </div>
          </div>
          <a (click)="addStage()" class="btn-add"><i class="fas fa-plus"></i></a>
        </label>
      </div>
    <div class="form-group">
      <label class="control-label col-sm-4">{{ 'trips.status' | translate }}
        <select formControlName="status">
          <option *ngFor="let stat of status">{{stat}}</option>
        </select>
        <div *ngIf="tripGroup.get('status').errors && (tripGroup.get('status').dirty || tripGroup.get('status').touched)" class="alert alert-danger">
          <div *ngIf="tripGroup.get('status').errors.required">
            {{ 'errorMessages.validation.required' | translate }}
          </div>
        </div>
      </label>
      <label class="control-label col-sm-4">{{ 'trips.price' | translate }}
        <input type="number" formControlName="price" class="form-control" placeholder="{{ 'trips.price' | translate }}">
        <div *ngIf="tripGroup.get('price').errors && (tripGroup.get('price').dirty || tripGroup.get('price').touched)" class="alert alert-danger">
          <div *ngIf="tripGroup.get('price').errors.required">
            {{ 'errorMessages.validation.required' | translate }}
          </div>
        </div>
      </label>
    </div>
    <div *ngIf="showMessageUpdated" class="form-group center message">
      <p>{{'messages.updateDone' | translate}}</p>
    </div>
    <div *ngIf="showMessageStatus" class="form-group center message">
      <p>{{'messages.updateStatusDone' | translate}}</p>
    </div>
    <div *ngIf="showMessageError" class="form-group center message-error">
      <p *ngIf="codeError==500">{{ 'errorMessages.api.500' | translate }}</p>
      <p *ngIf="codeError==404">{{ 'errorMessages.api.404' | translate }}</p>
      <p *ngIf="codeError==405 && flagError==1">{{ 'errorMessages.api.405-1' | translate }}</p>
      <p *ngIf="codeError==405 && flagError==2">{{ 'errorMessages.api.405-2' | translate }}</p>
      <p *ngIf="codeError==405 && flagError==3">{{ 'errorMessages.api.405-3' | translate }}</p>
    </div>
    <div class="form-group center">
      <button #btnstatus [disabled]="tripGroup.get('status').invalid || !tripGroup.get('status').dirty" (click)="changeStatus(tripGroup.get('status').value)" class="btn btn-primary">{{ 'shared.change-status' | translate }}</button>
      <button #btnapply [disabled]="tripGroup.invalid || !tripGroup.dirty" type="submit" (click)="onSubmit()" class="btn btn-primary">{{ 'shared.apply' | translate }}</button>
    </div>
  </form>
</div>
