<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white">
    <a class="navbar-brand" href="">
      <img id="ACME-logo" class="logo" src="../assets/img/logo.png" alt="ACME-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="nav nav__left">
        <li class="nav-item" *ngIf="!currentActor">
          <a class="nav-link btn btn-info btn-rounded btn-sm waves-effect waves-light"
            routerLink="/register">{{ 'shared.register' | translate}}</a>
        </li>
        <li class="nav-item" *ngIf="!currentActor">
          <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light"
            routerLink="/login">{{ 'shared.login' | translate}}<mdb-icon fas icon="sign-in-alt" class="marginl-1"
              aria-hidden="true"></mdb-icon></a>
        </li>
        <li class="nav-item dropdown" *ngIf="currentActor">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">{{ 'profile.menutitle' | translate}}</a>
          <div class="dropdown-menu" >
            <a class="dropdown-item" routerLink="/profile/{{currentActor._id}}">{{'profile.show' | translate}}</a>
            <!-- <div class="dropdown-divider" *ngIf="activeRole === 'ADMINISTRATOR'"></div>
            <div *ngIf="activeRole === 'ADMINISTRATOR'">
              <a class="dropdown-item" routerLink="/profile">{{'profile.list' | translate}}</a> 
            </div>  -->
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="currentActor">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">{{ 'trips.menutitle' | translate}}</a>
            <div class="dropdown-menu" >
              <a class="dropdown-item" routerLink="/trips">{{'trips.listexplorer' | translate}}</a>
              <div class="dropdown-divider" *ngIf="activeRole === 'MANAGER'"></div>
              <div *ngIf="activeRole === 'MANAGER'">
                <a class="dropdown-item" routerLink="/trips/managed">{{'trips.listmanager' | translate}}</a> 
                <!-- <a class="dropdown-item" routerLink="/trips/create">{{'trips.create' | translate}}</a> -->
            </div>   
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="activeRole === 'MANAGER' || activeRole === 'EXPLORER'">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">{{ 'orderedtrips.menutitle' | translate}}</a>
            <div class="dropdown-menu" >
              <a class="dropdown-item" routerLink="/ordered-trips" *ngIf="activeRole === 'EXPLORER'">{{'orderedtrips.listexplorer' | translate}}</a>
              <a class="dropdown-item" routerLink="/ordered-trips" *ngIf="activeRole === 'MANAGER'">{{'orderedtrips.listmanager' | translate}}</a> 
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="activeRole === 'ADMINISTRATOR'">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">{{ 'administration.menutitle' | translate}}</a>
            <div class="dropdown-menu" >
              <!-- <a class="dropdown-item" routerLink="settings">{{'administration.settings' | translate}}</a> -->
              <a class="dropdown-item" routerLink="dashboard">{{'administration.dashboard' | translate}}</a> 
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="activeRole === 'SPONSOR'">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="true" aria-expanded="false">{{ 'sponsorship.menutitle' | translate}}</a>
            <div class="dropdown-menu" >
              <a class="dropdown-item" routerLink="/sponsorships">{{'sponsorship.sponsorships' | translate}}</a></div>
          </li>
      </ul>

      <form class="form-inline my-2 my-lg-0 md-form md-bg">
        <input class="form-control mr-sm-2" type="search" placeholder="{{ 'header.search' | translate}}"
          aria-label="Search">
        <button class="btn btn-primary btn-rounded btn-sm my-0 p waves-effect waves-light" type="submit">
          <mdb-icon fas icon="search" class="marginl-1" aria-hidden="true"></mdb-icon>
        </button>
      </form>

      <ul class="nav nav__right">
        <li class="nav-item">
          <button class="btn btn-info btn-sm waves-light" type="submit" (click)="changeLanguage('es')">ES</button>
          <button class="btn btn-info btn-sm waves-light" type="submit" (click)="changeLanguage('en')">EN</button>
        </li>
        <li class="nav-item" *ngIf="currentActor">
          <a class="nav-link btn btn-rounded btn-sm waves-effect waves-light logout" style="cursor:pointer"
            (click)="logout()">{{ 'header.logout' | translate}}</a>
        </li>
      </ul>

    </div>
  </nav>
</header>