header {
    height: 15vh;
}

$color-primary-light: #A9DAED;
$color-primary-dark: #33b5e5;

.content {
  padding: 18vh 0 8vh 0;
  background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)), url("../assets/img/fondo2.jpg");
  background-size: cover;
  background-position: top;
}

.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
app-footer {
  bottom: 0;
}