<div *ngIf="trip" class="container">
    <div class="row row__list">
      <div class="col">
          <h2>{{trip.title}}</h2>
          <div class="row__list--line"></div>
      </div>
    </div>
    <div class="row row__list">
      <div class="col align-center">
        <h5 class="row__list--title">{{ 'trips.date_start' | translate }}</h5>
        <span>{{trip.date_start | date: 'yyyy/MM/dd' }}</span>
      </div>
      <div class="col align-center">
        <h5 class="row__list--title">{{ 'trips.date_end' | translate }}</h5>
        <span>{{trip.date_end | date: 'yyyy/MM/dd' }}</span>
      </div>
    </div>
    <div class="row row__list">
        <div class="col">
          <h5 class="row__list--title">{{ 'trips.description' | translate }}</h5>
            <span class="row__list--description">{{trip.description}}</span>
        </div>
      </div>
    <div class="row row__list">
      <div class="col">
          <h5 class="row__list--title">{{ 'trips.stages' | translate }}</h5>
      </div>
    </div>
    <div class="row row__list">
        <div *ngFor="let stage of trip.stages" class="col">
            <div class="container__stages">
                <div class="container__stages--title">
                    <span>{{stage.title}}</span>
                </div>
                <div class="container__stages--line"></div>
                <div class="container__stages--description">
                    <span>{{stage.description}}</span>
                </div>
                <div class="container__stages--price">
                    <span>{{stage.price}} $</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row row__list">
      <div class="col">
          <h5 class="row__list--title">{{ 'trips.status' | translate }}</h5>
          <span>{{trip.status}}</span>
      </div>
    </div>
    <div class="row row__list row__list--price">
      <div class="col">
          <h5 class="row__list--title">{{trip.price}} $</h5>
      </div>
    </div>
    <div class="row row__list row__list--apply" *ngIf="isExplorer">
      <div class="col">
        <button id="btnSubmit" class="btn btn-info btn-sm waves-light" type="submit" (click)="applyTrip(trip)">{{'trips.apply' | translate}}</button>
      </div>
    </div>
    <div *ngIf="canEditDelete && !showMessageCorrect" class="row row__list row__list--apply">
      <div class="col">
        <a [routerLink]="['../../edit/' + trip._id]" class="btn btn-info btn-sm waves-light">{{'shared.edit' | translate}}</a>
      </div>
      <div class="col">
        <a (click)="deleteTrip(trip)" class="btn btn-danger btn-sm waves-light">{{'shared.delete' | translate}}</a>
      </div>
    </div>
    <div *ngIf="showMessageCorrect" class="form-group message align-center">
      <p>{{'messages.deletedDone' | translate}}</p>
    </div>
    <div *ngIf="showMessageError" class="form-group message-error align-center">
      <p *ngIf="codeError==500">{{ 'errorMessages.api.500' | translate }}</p>
      <p *ngIf="codeError==404">{{ 'errorMessages.api.404' | translate }}</p>
      <p *ngIf="codeError==405">{{ 'errorMessages.api.405-delete' | translate }}</p>
    </div>
    <div class="row row__list row__list--message" *ngIf="applicationDone">
      <div class="col">
        <p id="messageApply">{{'messages.applyDone' | translate}}</p>
      </div>
    </div>
</div>
